<a href="https://colab.research.google.com/github/danielcdo/-MachineLearning/blob/main/asdLogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Logistic Regression Model
Stastitical model to predict ASD

**Dataset source:** https://archive.ics.uci.edu/ml/datasets/Autistic+Spectrum+Disorder+Screening+Data+for+Children++

In [42]:
from scipy.io import arff
import pandas as pd
import numpy as np

#Load dataset

In [43]:
# Load the data using "arff.loadarff" then convert it to dataframe
# file location: /content/sample_data/Autism-Child-Data.arff
# Attribute-Relation File Format (ARFF)
data = arff.loadarff('sample_data/Autism-Child-Data.arff',  )
df = pd.DataFrame(data[0])

In [52]:
# dataset contains b:python's way of displaying a bytes array and are not part of the data
df.head()

  A1_Score A2_Score A3_Score  ...       age_desc   relation Class/ASD
0     b'1'     b'1'     b'0'  ...  b'4-11 years'  b'Parent'     b'NO'
1     b'1'     b'1'     b'0'  ...  b'4-11 years'  b'Parent'     b'NO'
2     b'1'     b'1'     b'0'  ...  b'4-11 years'       b'?'     b'NO'
3     b'0'     b'1'     b'0'  ...  b'4-11 years'       b'?'     b'NO'
4     b'1'     b'1'     b'1'  ...  b'4-11 years'  b'Parent'    b'YES'

[5 rows x 21 columns]

#Data cleanup

 - remove the 'bytes' from object columns - string
 - unstack and add the 'age' column back

In [53]:
#df['A1_Score'] = df['A1_Score'].str.decode('utf-8')
# select only string columns
df_str = df.select_dtypes([np.object])

In [54]:
# decode to remove 'bs'
df_tr = df_str.stack().str.decode('utf-8').unstack()

In [55]:
df_tr['age'] = df['age']  # dataframe transformed

In [56]:
df_tr.head()

  A1_Score A2_Score A3_Score A4_Score  ...    age_desc relation Class/ASD  age
0        1        1        0        0  ...  4-11 years   Parent        NO  6.0
1        1        1        0        0  ...  4-11 years   Parent        NO  6.0
2        1        1        0        0  ...  4-11 years        ?        NO  6.0
3        0        1        0        0  ...  4-11 years        ?        NO  5.0
4        1        1        1        1  ...  4-11 years   Parent       YES  5.0

[5 rows x 20 columns]

In [57]:
df_tr.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'gender', 'ethnicity',
       'jundice', 'austim', 'contry_of_res', 'used_app_before', 'age_desc',
       'relation', 'Class/ASD', 'age'],
      dtype='object')

In [58]:
# rearrange columns
data = df_tr[['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'gender', 'age','ethnicity',
       'jundice', 'austim', 'contry_of_res', 'used_app_before', 'age_desc',
       'relation', 'Class/ASD']]

In [61]:
data.head(5)

  A1_Score A2_Score A3_Score  ...    age_desc relation Class/ASD
0        1        1        0  ...  4-11 years   Parent        NO
1        1        1        0  ...  4-11 years   Parent        NO
2        1        1        0  ...  4-11 years        ?        NO
3        0        1        0  ...  4-11 years        ?        NO
4        1        1        1  ...  4-11 years   Parent       YES

[5 rows x 20 columns]

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   A1_Score         292 non-null    object
 1   A2_Score         292 non-null    object
 2   A3_Score         292 non-null    object
 3   A4_Score         292 non-null    object
 4   A5_Score         292 non-null    object
 5   A6_Score         292 non-null    object
 6   A7_Score         292 non-null    object
 7   A8_Score         292 non-null    object
 8   A9_Score         292 non-null    object
 9   A10_Score        292 non-null    object
 10  gender           292 non-null    object
 11  age              288 non-null    float64
 12  ethnicity        292 non-null    object
 13  jundice          292 non-null    object
 14  austim           292 non-null    object
 15  contry_of_res    292 non-null    object
 16  used_app_before  292 non-null    object
 17  age_desc         292 non-null    object
 18  relation         292 non-null    object
 19  Class/ASD        292 non-null    object
dtypes: float64(1), object(19)
memory usage: 47.9+ KB

In [63]:
data.isnull().sum()

A1_Score           0
A2_Score           0
A3_Score           0
A4_Score           0
A5_Score           0
A6_Score           0
A7_Score           0
A8_Score           0
A9_Score           0
A10_Score          0
gender             0
age                4
ethnicity          0
jundice            0
austim             0
contry_of_res      0
used_app_before    0
age_desc           0
relation           0
Class/ASD          0
dtype: int64

In [64]:
data.describe()

              age
count  288.000000
mean     6.354167
std      2.365456
min      4.000000
25%      4.000000
50%      6.000000
75%      8.000000
max     11.000000

##Exploratory Data Analysis - EDA